Dictionary Exercises
1. Create a Dictionary:
o Create a dictionary to store the names and ages of five people. Print the
dictionary.
2. Accessing Values:
o Given a dictionary with student names as keys and their grades as values, print the
grade of the student named &quot;Alice&quot;:
students_grades = {&quot;John&quot;: &quot;A&quot;, &quot;Alice&quot;: &quot;B&quot;, &quot;Bob&quot;: &quot;C&quot;,
&quot;Diana&quot;: &quot;A&quot;}
3. Update a Dictionary:
o Update the age of one person in the dictionary you created in Exercise 1. Print the
updated dictionary.
4. Add New Key-Value Pairs:
o Add a new person to the dictionary created in Exercise 1. Print the updated
dictionary.
5. Delete a Key-Value Pair:
o Remove one person from the dictionary created in Exercise 1. Print the updated
dictionary.
6. Check for Key Existence:
o Check if a specific key (name) exists in the dictionary from Exercise 1. Print an
appropriate message based on whether the key exists or not.

7. Iterate Through a Dictionary:
o Iterate through the dictionary from Exercise 1 and print each key-value pair.
8. Dictionary Length:
o Find and print the number of key-value pairs in the dictionary from Exercise 1.
9. Copy a Dictionary:
o Create a copy of the dictionary from Exercise 1. Modify the copy and print both
the original and the modified copy.

10. Nested Dictionary:
o Create a dictionary that stores the information of three people. Each person should
have a nested dictionary containing their age, address, and phone number. Print
the nested dictionary.
11. Merge Dictionaries:
o Merge two dictionaries into one. Print the result.
12. Dictionary of Lists:
o Create a dictionary where the keys are the names of students and the values are
lists of their grades. Print the dictionary.

13. Dictionary Comprehension:
o Use dictionary comprehension to create a dictionary where the keys are numbers
from 1 to 10 and the values are the squares of these numbers.

14. From User Input:
o Write a script to create a dictionary by taking name and age as input from the user
for five people. Print the dictionary.

15. Count Occurrences:

o Given a string, count the occurrences of each character using a dictionary. Print
the dictionary.
16. Reverse Lookup:
o Given a dictionary of names and ages, write a script to find and print the names of
people with a specific age.

17. Sum Values:
o Given a dictionary with numerical values, calculate and print the sum of the
values.
18. Top Student:
o Given a dictionary of student names and their grades, find and print the name of
the student with the highest grade.

19. Unique Values:
o Write a script to print all unique values in a dictionary.
20. Default Dictionary:
o Use collections.defaultdict to create a dictionary that automatically assigns
a default value of 0 to any key that does not exist. Add some values and print the
dictionary.

21. Dictionary from Two Lists:
o Create a dictionary from two lists: one containing keys and the other containing
values. Print the dictionary.

22. Group by Category:
o Given a list of products, each with a name and category, group the products by
category in a dictionary and print it.

23. Dictionary to List:
o Convert a dictionary into two lists: one for keys and one for values. Print both
lists.
24. Filter Dictionary:
 Write a script to filter a dictionary by retaining only those key-value pairs where the
value is greater than a specified threshold. Print the filtered dictionary.
25. Sorted Dictionary:
 Write a script to sort a dictionary by its keys and then by its values, and print the
sorted dictionary.

Set Exercises
26. Create a Set:
o Create a set containing the names of five fruits. Print the set.
27. Add an Element:
o Add a new fruit to the set you created in Exercise 1. Print the updated set.
28. Remove an Element:
o Remove a fruit from the set you created in Exercise 1. Print the updated set.
29. Check Membership:
o Write a script to check if a specific fruit is in the set created in Exercise 1. Print an
appropriate message.

30. Union of Sets:
o Create two sets of fruits and find their union. Print the resulting set.
31. Intersection of Sets:
o Create two sets of fruits and find their intersection. Print the resulting set.
32. Difference of Sets:
o Create two sets of fruits and find the difference between them. Print the resulting
set.

33. Symmetric Difference of Sets:
o Create two sets of fruits and find their symmetric difference. Print the resulting
set.
34. Subset Check:
o Write a script to check if one set is a subset of another. Print an appropriate
message.
35. Superset Check:
o Write a script to check if one set is a superset of another. Print an appropriate
message.
36. Iterate Through a Set:
o Write a script to iterate through a set and print each element.
37. Set Length:
o Write a script to find and print the number of elements in a set.
38. Remove Duplicates:
o Given a list of numbers, write a script to remove duplicates by converting the list
to a set. Print the resulting set.

In [1]:
string = "hello world"
occurrences = {}
for char in string:
    occurrences[char] = occurrences.get(char, 0) + 1
print("Character occurrences:", occurrences)

Character occurrences: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [2]:
names_ages = {"Alice": 25, "Bob": 30, "Charlie": 25, "David": 22}
specific_age = 25
names_with_specific_age = [name for name, age in names_ages.items() if age == specific_age]
print("Names with age", specific_age, ":", names_with_specific_age)

Names with age 25 : ['Alice', 'Charlie']

In [3]:
values_dict = {"a": 10, "b": 20, "c": 30}
total_sum = sum(values_dict.values())
print("Sum of values:", total_sum)

Sum of values: 60

In [4]:
student_grades = {"Alice": 85, "Bob": 92, "Charlie": 87}
top_student = max(student_grades, key=student_grades.get)
print("Top student:", top_student, "with grade:", student_grades[top_student])

Top student: Bob with grade: 92

In [5]:
values_dict = {"a": 1, "b": 2, "c": 2, "d": 3}
unique_values = set(values_dict.values())
print("Unique values in dictionary:", unique_values)

Unique values in dictionary: {1, 2, 3}

In [6]:
from collections import defaultdict

default_dict = defaultdict(lambda: 0)
default_dict["a"] += 5
default_dict["b"] += 10
print("Default dictionary:", dict(default_dict))

Default dictionary: {'a': 5, 'b': 10}

In [7]:
keys = ["a", "b", "c"]
values = [1, 2, 3]
dictionary = dict(zip(keys, values))
print("Dictionary from two lists:", dictionary)

Dictionary from two lists: {'a': 1, 'b': 2, 'c': 3}

In [8]:
products = [
    {"name": "Apple", "category": "Fruit"},
    {"name": "Carrot", "category": "Vegetable"},
    {"name": "Banana", "category": "Fruit"},
    {"name": "Broccoli", "category": "Vegetable"}
]
category_dict = {}
for product in products:
    category = product["category"]
    if category not in category_dict:
        category_dict[category] = []
    category_dict[category].append(product["name"])
print("Products grouped by category:", category_dict)

Products grouped by category: {'Fruit': ['Apple', 'Banana'], 'Vegetable': ['Carrot', 'Broccoli']}

In [9]:
my_dict = {"a": 1, "b": 2, "c": 3}
keys_list = list(my_dict.keys())
values_list = list(my_dict.values())
print("Keys:", keys_list)
print("Values:", values_list)

Keys: ['a', 'b', 'c']
Values: [1, 2, 3]

In [10]:
my_dict = {"a": 10, "b": 5, "c": 20}
threshold = 10
filtered_dict = {key: value for key, value in my_dict.items() if value > threshold}
print("Filtered dictionary:", filtered_dict)

Filtered dictionary: {'c': 20}

In [11]:
my_dict = {"c": 3, "a": 1, "b": 2}
sorted_by_keys = dict(sorted(my_dict.items()))
sorted_by_values = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print("Dictionary sorted by keys:", sorted_by_keys)
print("Dictionary sorted by values:", sorted_by_values)

Dictionary sorted by keys: {'a': 1, 'b': 2, 'c': 3}
Dictionary sorted by values: {'a': 1, 'b': 2, 'c': 3}

In [12]:
fruits = {"apple", "banana", "cherry", "date", "elderberry"}
print("Set of fruits:", fruits)

Set of fruits: {'apple', 'cherry', 'elderberry', 'date', 'banana'}

In [13]:
fruits.add("fig")
print("Set after adding a fruit:", fruits)

Set after adding a fruit: {'apple', 'cherry', 'fig', 'elderberry', 'date', 'banana'}

In [14]:
fruits.remove("banana")
print("Set after removing a fruit:", fruits)

Set after removing a fruit: {'apple', 'cherry', 'fig', 'elderberry', 'date'}

In [15]:
fruit_to_check = "apple"
if fruit_to_check in fruits:
    print(f"{fruit_to_check} is in the set.")
else:
    print(f"{fruit_to_check} is not in the set.")

apple is in the set.

In [16]:
fruits1 = {"apple", "banana", "cherry"}
fruits2 = {"date", "elderberry", "fig"}
union_set = fruits1.union(fruits2)
print("Union of sets:", union_set)

Union of sets: {'cherry', 'fig', 'elderberry', 'date', 'apple', 'banana'}

In [17]:
fruits1 = {"apple", "banana", "cherry"}
fruits2 = {"banana", "cherry", "fig"}
intersection_set = fruits1.intersection(fruits2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {'cherry', 'banana'}

In [18]:
difference_set = fruits1.difference(fruits2)
print("Difference of sets:", difference_set)

Difference of sets: {'apple'}

In [19]:
symmetric_difference_set = fruits1.symmetric_difference(fruits2)
print("Symmetric difference of sets:", symmetric_difference_set)

Symmetric difference of sets: {'apple', 'fig'}

In [20]:
fruits3 = {"apple", "banana"}
if fruits3.issubset(fruits1):
    print("The set is a subset.")
else:
    print("The set is not a subset.")

The set is a subset.

In [21]:
if fruits1.issuperset(fruits3):
    print("The set is a superset.")
else:
    print("The set is not a superset.")

The set is a superset.